<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>country_code</key>
			<string>FI</string>
			<key>country_name</key>
			<string>Finland</string>
			<key>dest_code</key>
			<string>HEL</string>
			<key>dest_name</key>
			<string>Helsinki</string>
			<key>havebeen_count</key>
			<integer>98</integer>
			<key>id</key>
			<integer>101</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/FI/HEL/fi_hel_03.jpg</string>
			<key>lat</key>
			<real>60.173386</real>
			<key>lng</key>
			<real>24.941046</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>FI</string>
			<key>country_name</key>
			<string>Finland</string>
			<key>dest_code</key>
			<string>ESP</string>
			<key>dest_name</key>
			<string>Espoo</string>
			<key>havebeen_count</key>
			<integer>8</integer>
			<key>id</key>
			<integer>102</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/FI/ESP/fi_esp_05.jpg</string>
			<key>lat</key>
			<real>60.200166</real>
			<key>lng</key>
			<real>24.712193</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>FI</string>
			<key>country_name</key>
			<string>Finland</string>
			<key>dest_code</key>
			<string>RVN</string>
			<key>dest_name</key>
			<string>Rovaniemi</string>
			<key>havebeen_count</key>
			<integer>14</integer>
			<key>id</key>
			<integer>103</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/FI/RVN/fi_rvn_01.jpg</string>
			<key>lat</key>
			<real>66.49747499999999</real>
			<key>lng</key>
			<real>25.725128</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>FI</string>
			<key>country_name</key>
			<string>Finland</string>
			<key>dest_code</key>
			<string>TMP</string>
			<key>dest_name</key>
			<string>Tampere</string>
			<key>havebeen_count</key>
			<integer>12</integer>
			<key>id</key>
			<integer>104</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/FI/TMP/fi_tmp_01.jpg</string>
			<key>lat</key>
			<real>61.500136</real>
			<key>lng</key>
			<real>23.766678</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>FI</string>
			<key>country_name</key>
			<string>Finland</string>
			<key>dest_code</key>
			<string>TKU</string>
			<key>dest_name</key>
			<string>Turku</string>
			<key>havebeen_count</key>
			<integer>15</integer>
			<key>id</key>
			<integer>105</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/FI/TKU/fi_tku_02.jpg</string>
			<key>lat</key>
			<real>60.459238</real>
			<key>lng</key>
			<real>22.267972</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NO</string>
			<key>country_name</key>
			<string>Norway</string>
			<key>dest_code</key>
			<string>BGO</string>
			<key>dest_name</key>
			<string>Bergen</string>
			<key>havebeen_count</key>
			<integer>56</integer>
			<key>id</key>
			<integer>129</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/NO/BGO/no_bgo_01.jpg</string>
			<key>lat</key>
			<real>60.3913</real>
			<key>lng</key>
			<real>5.322136</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NO</string>
			<key>country_name</key>
			<string>Norway</string>
			<key>dest_code</key>
			<string>TRD</string>
			<key>dest_name</key>
			<string>Trondheim</string>
			<key>havebeen_count</key>
			<integer>11</integer>
			<key>id</key>
			<integer>132</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>lat</key>
			<real>63.429632</real>
			<key>lng</key>
			<real>10.395706</real>
			<key>type</key>
			<string>C</string>
		</dict>
	</array>
</dict>
</plist>
