<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>country_code</key>
			<string>PE</string>
			<key>country_name</key>
			<string>Peru</string>
			<key>dest_code</key>
			<string>LIM</string>
			<key>dest_name</key>
			<string>Lima</string>
			<key>havebeen_count</key>
			<integer>44</integer>
			<key>id</key>
			<integer>50</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/PE/LIM/pe_lim_01.jpg</string>
			<key>lat</key>
			<real>-12.0553442</real>
			<key>lng</key>
			<real>-77.0451853</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ZW</string>
			<key>country_name</key>
			<string>Zimbabwe</string>
			<key>dest_code</key>
			<string>HRE</string>
			<key>dest_name</key>
			<string>Harare</string>
			<key>havebeen_count</key>
			<integer>5</integer>
			<key>id</key>
			<integer>69</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/ZW/HRE/zw_hre_01.jpg</string>
			<key>lat</key>
			<real>-17.8166376</real>
			<key>lng</key>
			<real>31.0568583</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BO</string>
			<key>country_name</key>
			<string>Bolivia</string>
			<key>dest_code</key>
			<string>LPB</string>
			<key>dest_name</key>
			<string>La Paz</string>
			<key>havebeen_count</key>
			<integer>21</integer>
			<key>id</key>
			<integer>170</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/BO/LPB/bo_lpb_05.jpg</string>
			<key>lat</key>
			<real>-16.499999</real>
			<key>lng</key>
			<real>-68.149917</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BO</string>
			<key>country_name</key>
			<string>Bolivia</string>
			<key>dest_code</key>
			<string>SRE</string>
			<key>dest_name</key>
			<string>Sucre</string>
			<key>havebeen_count</key>
			<integer>10</integer>
			<key>id</key>
			<integer>171</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/BO/SRE/bo_sre_05.jpg</string>
			<key>lat</key>
			<real>-19.020577</real>
			<key>lng</key>
			<real>-65.26301599999999</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BR</string>
			<key>country_name</key>
			<string>Brazil</string>
			<key>dest_code</key>
			<string>BSB</string>
			<key>dest_name</key>
			<string>Brasilia</string>
			<key>havebeen_count</key>
			<integer>27</integer>
			<key>id</key>
			<integer>172</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/BR/BSB/br_bsb_04.jpg</string>
			<key>lat</key>
			<real>-15.794236</real>
			<key>lng</key>
			<real>-47.882036</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PE</string>
			<key>country_name</key>
			<string>Peru</string>
			<key>dest_code</key>
			<string>CUZ</string>
			<key>dest_name</key>
			<string>Cuzco</string>
			<key>havebeen_count</key>
			<integer>26</integer>
			<key>id</key>
			<integer>231</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/PE/CUZ/pe_cuz_03.jpg</string>
			<key>lat</key>
			<real>-13.53119</real>
			<key>lng</key>
			<real>-71.967026</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>PE</string>
			<key>country_name</key>
			<string>Peru</string>
			<key>dest_code</key>
			<string>PUN</string>
			<key>dest_name</key>
			<string>Puno</string>
			<key>havebeen_count</key>
			<integer>14</integer>
			<key>id</key>
			<integer>232</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/PE/PUN/pe_pun_03.jpg</string>
			<key>lat</key>
			<real>-15.839986</real>
			<key>lng</key>
			<real>-70.021732</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NZ</string>
			<key>country_name</key>
			<string>New Zealand</string>
			<key>dest_code</key>
			<string>CHC</string>
			<key>dest_name</key>
			<string>Christchurch</string>
			<key>havebeen_count</key>
			<integer>63</integer>
			<key>id</key>
			<integer>57</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/NZ/CHC/nz_chc_03.jpg</string>
			<key>lat</key>
			<real>-43.5131367</real>
			<key>lng</key>
			<real>172.5990772</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NZ</string>
			<key>country_name</key>
			<string>New Zealand</string>
			<key>dest_code</key>
			<string>ZQN</string>
			<key>dest_name</key>
			<string>Queenstown</string>
			<key>havebeen_count</key>
			<integer>71</integer>
			<key>id</key>
			<integer>134</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/NZ/ZQN/zn_zqn_05.jpg</string>
			<key>lat</key>
			<real>-45.031197</real>
			<key>lng</key>
			<real>168.662697</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NZ</string>
			<key>country_name</key>
			<string>New Zealand</string>
			<key>dest_code</key>
			<string>TEU</string>
			<key>dest_name</key>
			<string>Te Anau</string>
			<key>havebeen_count</key>
			<integer>31</integer>
			<key>id</key>
			<integer>136</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/NZ/TEU/nz_teu_02.jpg</string>
			<key>lat</key>
			<real>-45.41484</real>
			<key>lng</key>
			<real>167.718551</real>
			<key>type</key>
			<string>R</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NZ</string>
			<key>country_name</key>
			<string>New Zealand</string>
			<key>dest_code</key>
			<string>WLT</string>
			<key>dest_name</key>
			<string>Wellington</string>
			<key>havebeen_count</key>
			<integer>42</integer>
			<key>id</key>
			<integer>137</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/NZ/WLT/nz_wlt_04.jpg</string>
			<key>lat</key>
			<real>-41.286482</real>
			<key>lng</key>
			<real>174.776255</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AR</string>
			<key>country_name</key>
			<string>Argentina</string>
			<key>dest_code</key>
			<string>BRC</string>
			<key>dest_name</key>
			<string>San Carlos de Bariloche</string>
			<key>havebeen_count</key>
			<integer>10</integer>
			<key>id</key>
			<integer>181</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/AR/BRC/ar_brc_02.jpg</string>
			<key>lat</key>
			<real>-41.133547</real>
			<key>lng</key>
			<real>-71.31022299999999</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CL</string>
			<key>country_name</key>
			<string>Chile</string>
			<key>dest_code</key>
			<string>SCL</string>
			<key>dest_name</key>
			<string>Puerto Montt</string>
			<key>havebeen_count</key>
			<integer>8</integer>
			<key>id</key>
			<integer>201</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/CL/SCL/cl_scl_01.jpg</string>
			<key>lat</key>
			<real>-41.470515</real>
			<key>lng</key>
			<real>-72.934327</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CL</string>
			<key>country_name</key>
			<string>Chile</string>
			<key>dest_code</key>
			<string>PNT</string>
			<key>dest_name</key>
			<string>Puerto Natales</string>
			<key>havebeen_count</key>
			<integer>9</integer>
			<key>id</key>
			<integer>202</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/CL/PNT/cl_pnt_02.jpg</string>
			<key>lat</key>
			<real>-51.733275</real>
			<key>lng</key>
			<real>-72.503721</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AR</string>
			<key>country_name</key>
			<string>Argentina</string>
			<key>dest_code</key>
			<string>FTE</string>
			<key>dest_name</key>
			<string>El Calafate</string>
			<key>havebeen_count</key>
			<integer>10</integer>
			<key>id</key>
			<integer>182</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/AR/FTE/ar_fte_03.jpg</string>
			<key>lat</key>
			<real>-50.340147</real>
			<key>lng</key>
			<real>-72.270391</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NZ</string>
			<key>country_name</key>
			<string>New Zealand</string>
			<key>dest_code</key>
			<string>AKL</string>
			<key>dest_name</key>
			<string>Auckland</string>
			<key>havebeen_count</key>
			<integer>148</integer>
			<key>id</key>
			<integer>18</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/NZ/AKL/nz_akl_01.jpg</string>
			<key>lat</key>
			<real>-36.8630231</real>
			<key>lng</key>
			<real>174.8654693</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AU</string>
			<key>country_name</key>
			<string>Australia</string>
			<key>dest_code</key>
			<string>MEL</string>
			<key>dest_name</key>
			<string>Melbourne</string>
			<key>havebeen_count</key>
			<integer>199</integer>
			<key>id</key>
			<integer>48</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/AU/MEL/au_mel_02.jpg</string>
			<key>lat</key>
			<real>-37.8602828</real>
			<key>lng</key>
			<real>145.079616</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>KE</string>
			<key>country_name</key>
			<string>Kenya</string>
			<key>dest_code</key>
			<string>NBO</string>
			<key>dest_name</key>
			<string>Nairobi</string>
			<key>havebeen_count</key>
			<integer>24</integer>
			<key>id</key>
			<integer>59</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>lat</key>
			<real>-1.3048035</real>
			<key>lng</key>
			<real>36.8473969</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AR</string>
			<key>country_name</key>
			<string>Argentina</string>
			<key>dest_code</key>
			<string>BUE</string>
			<key>dest_name</key>
			<string>Buenos Aires</string>
			<key>havebeen_count</key>
			<integer>30</integer>
			<key>id</key>
			<integer>65</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/AR/BUE/ar_bue_08.jpg</string>
			<key>lat</key>
			<real>-34.6158527</real>
			<key>lng</key>
			<real>-58.4332985</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>BR</string>
			<key>country_name</key>
			<string>Brazil</string>
			<key>dest_code</key>
			<string>SAO</string>
			<key>dest_name</key>
			<string>Sao Paulo</string>
			<key>havebeen_count</key>
			<integer>45</integer>
			<key>id</key>
			<integer>66</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/BR/SAO/br_sao_02.jpg</string>
			<key>lat</key>
			<real>-23.6824124</real>
			<key>lng</key>
			<real>-46.5952992</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ID</string>
			<key>country_name</key>
			<string>Indonesia</string>
			<key>dest_code</key>
			<string>DPS</string>
			<key>dest_name</key>
			<string>Bali</string>
			<key>havebeen_count</key>
			<integer>230</integer>
			<key>id</key>
			<integer>76</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/ID/DPS/id_dps_02.jpg</string>
			<key>lat</key>
			<real>-8.4554715</real>
			<key>lng</key>
			<real>115.071577</real>
			<key>type</key>
			<string>R</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AU</string>
			<key>country_name</key>
			<string>Australia</string>
			<key>dest_code</key>
			<string>SYD</string>
			<key>dest_name</key>
			<string>Sydney</string>
			<key>havebeen_count</key>
			<integer>349</integer>
			<key>id</key>
			<integer>82</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/AU/SYD/au_syd_01.jpg</string>
			<key>lat</key>
			<real>-33.7969235</real>
			<key>lng</key>
			<real>150.9224326</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ZA</string>
			<key>country_name</key>
			<string>South Africa</string>
			<key>dest_code</key>
			<string>JNB</string>
			<key>dest_name</key>
			<string>Johannesburg</string>
			<key>havebeen_count</key>
			<integer>19</integer>
			<key>id</key>
			<integer>85</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/ZA/JNB/za_jnb_01.jpg</string>
			<key>lat</key>
			<real>-26.2145598</real>
			<key>lng</key>
			<real>27.964365</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ID</string>
			<key>country_name</key>
			<string>Indonesia</string>
			<key>dest_code</key>
			<string>JKT</string>
			<key>dest_name</key>
			<string>Jakarta</string>
			<key>havebeen_count</key>
			<integer>122</integer>
			<key>id</key>
			<integer>100</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/ID/JKT/id_jkt_03.jpg</string>
			<key>lat</key>
			<real>-6.2297465</real>
			<key>lng</key>
			<real>106.829518</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NC</string>
			<key>country_name</key>
			<string>New Caledonia</string>
			<key>dest_code</key>
			<string>NMA</string>
			<key>dest_name</key>
			<string>Numea</string>
			<key>havebeen_count</key>
			<integer>8</integer>
			<key>id</key>
			<integer>133</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/NC/NMA/nc_nma_02.jpg</string>
			<key>lat</key>
			<real>-22.275754</real>
			<key>lng</key>
			<real>166.458294</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>NZ</string>
			<key>country_name</key>
			<string>New Zealand</string>
			<key>dest_code</key>
			<string>ROT</string>
			<key>dest_name</key>
			<string>Rotorua</string>
			<key>havebeen_count</key>
			<integer>62</integer>
			<key>id</key>
			<integer>135</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/NZ/ROT/nz_rot_04.jpg</string>
			<key>lat</key>
			<real>-38.137122</real>
			<key>lng</key>
			<real>176.25003</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>EC</string>
			<key>country_name</key>
			<string>Ecuador</string>
			<key>dest_code</key>
			<string>UIO</string>
			<key>dest_name</key>
			<string>Quito</string>
			<key>havebeen_count</key>
			<integer>11</integer>
			<key>id</key>
			<integer>184</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/EC/UIO/ec_uio_02.jpg</string>
			<key>lat</key>
			<real>-0.180587</real>
			<key>lng</key>
			<real>-78.467816</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>CL</string>
			<key>country_name</key>
			<string>Chile</string>
			<key>dest_code</key>
			<string>PMC</string>
			<key>dest_name</key>
			<string>Santiago</string>
			<key>havebeen_count</key>
			<integer>23</integer>
			<key>id</key>
			<integer>203</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/CL/PMC/cl_pmc_04.jpg</string>
			<key>lat</key>
			<real>-33.468108</real>
			<key>lng</key>
			<real>-70.64844100000001</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AU</string>
			<key>country_name</key>
			<string>Australia</string>
			<key>dest_code</key>
			<string>ADL</string>
			<key>dest_name</key>
			<string>Adelaide</string>
			<key>havebeen_count</key>
			<integer>34</integer>
			<key>id</key>
			<integer>236</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/AU/ADL/au_adl_05.jpg</string>
			<key>lat</key>
			<real>-34.921971</real>
			<key>lng</key>
			<real>138.605833</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>AU</string>
			<key>country_name</key>
			<string>Australia</string>
			<key>dest_code</key>
			<string>BNE</string>
			<key>dest_name</key>
			<string>Brisbane</string>
			<key>havebeen_count</key>
			<integer>127</integer>
			<key>id</key>
			<integer>237</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/AU/BNE/au_bne_02.jpg</string>
			<key>lat</key>
			<real>-27.474161</real>
			<key>lng</key>
			<real>153.030882</real>
			<key>type</key>
			<string>C</string>
		</dict>
		<dict>
			<key>country_code</key>
			<string>ZA</string>
			<key>country_name</key>
			<string>South Africa</string>
			<key>dest_code</key>
			<string>CPT</string>
			<key>dest_name</key>
			<string>Cape Town</string>
			<key>havebeen_count</key>
			<integer>0</integer>
			<key>id</key>
			<integer>248</integer>
			<key>ihavebeen</key>
			<integer>0</integer>
			<key>img_url</key>
			<string>http://dswmywxky29pi.cloudfront.net/dashboard/dest_image/ZA/CPT/ZA_CPT_1433234120.jpeg</string>
			<key>lat</key>
			<real>-33.918405</real>
			<key>lng</key>
			<real>18.425347</real>
			<key>type</key>
			<string>C</string>
		</dict>
	</array>
</dict>
</plist>
